/* Google Font import */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
/* Tailwind */
@import "tailwindcss";
@plugin "@tailwindcss/typography";
/* DaisyUI */
@plugin "daisyui";

@theme {
  --font-sans: "Roboto Slab", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Roboto Slab", ui-serif, Georgia, Cambria, "Times New Roman",
    Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --font-roboto: "Roboto Slab", serif;
}
