---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <article class="prose">
    <h2>Page 1</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae,
      provident, molestiae deserunt, dolorem sit voluptas dignissimos iste amet
      et magni tempore aliquid facilis cum. Asperiores libero at repudiandae
      eius quas!
    </p>
    <h3>Subtitle 1</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit
      asperiores ratione sapiente laboriosam fugiat, maxime, dolores eum quo
      quod, eveniet commodi quaerat aliquam consequuntur dolor itaque culpa
      doloribus quae fuga.
    </p>
    <h3>Subtitle 2</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit
      asperiores ratione sapiente laboriosam fugiat, maxime, dolores eum quo
      quod, eveniet commodi quaerat aliquam consequuntur dolor itaque culpa
      doloribus quae fuga.
    </p>
    <p class="font-sans">The quick brown fox jumps over the lazy dog.</p>
    <p class="font-serif">The quick brown fox jumps over the lazy dog.</p>
    <p class="font-mono">The quick brown fox jumps over the lazy dog.</p>
    <h2>Main Content</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae,
      provident, molestiae deserunt, dolorem sit voluptas dignissimos iste amet
      et magni tempore aliquid facilis cum. Asperiores libero at repudiandae
      eius quas!
    </p>
    <h3>Subtitle 1</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit
      asperiores ratione sapiente laboriosam fugiat, maxime, dolores eum quo
      quod, eveniet commodi quaerat aliquam consequuntur dolor itaque culpa
      doloribus quae fuga.
    </p>
    <h3>Subtitle 2</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit
      asperiores ratione sapiente laboriosam fugiat, maxime, dolores eum quo
      quod, eveniet commodi quaerat aliquam consequuntur dolor itaque culpa
      doloribus quae fuga.
    </p>
    <p class="font-sans">The quick brown fox jumps over the lazy dog.</p>
    <p class="font-serif">The quick brown fox jumps over the lazy dog.</p>
    <p class="font-mono">The quick brown fox jumps over the lazy dog.</p>
  </article>
</BaseLayout>
