---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <article>
    <h2 class="text-8xl pb-4">Page 9</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae,
      provident, molestiae deserunt, dolorem sit voluptas dignissimos iste amet
      et magni tempore aliquid facilis cum. Asperiores libero at repudiandae
      eius quas!
    </p>
    <h3 class="text-xl py-2">Subtitle 1</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit
      asperiores ratione sapiente laboriosam fugiat, maxime, dolores eum quo
      quod, eveniet commodi quaerat aliquam consequuntur dolor itaque culpa
      doloribus quae fuga.
    </p>
    <h3 class="text-6xl py-3">Subtitle 2</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit
      asperiores ratione sapiente laboriosam fugiat, maxime, dolores eum quo
      quod, eveniet commodi quaerat aliquam consequuntur dolor itaque culpa
      doloribus quae fuga.
    </p>
  </article>
</BaseLayout>
