---
import ThemeToggle from "@/components/ThemeToggle.astro";
---

<header
  class="fixed top-0 navbar bg-primary text-primary-content max-h-16 shadow-sm justify-center z-99"
>
  <div class="navbar max-w-4xl min-w-4xl px-6">
    <div class="navbar-start">
      <h1>My Website</h1>
    </div>
    <div class="navbar-end">
      <ul class="menu menu-horizontal">
        <li><a href="/">Page 1</a></li>
        <li><a href="/page2.html">Page 2</a></li>
        <li><a href="#">Menu 3</a></li>
      </ul>
      <ThemeToggle />
    </div>
  </div>
</header>
