---

---

<aside
  class="sticky top-16 h-full max-h-screen overflow-y-auto w-48 min-w-32 bg-base-300 p-6"
>
  <ul class="menu menu-vertical">
    <li><a href="/">Page 1</a></li>
    <li><a href="/page2/">Page 2</a></li>
    <li><a href="/page3/">Page 3</a></li>
    <li><a href="/page4/">Page 4</a></li>
    <li><a href="/page5/">Page 5</a></li>
    <li><a href="/page6/">Page 6</a></li>
    <li><a href="/page7/">Page 7</a></li>
    <li><a href="/page8/">Page 8</a></li>
    <li><a href="/page9/">Page 9</a></li>
    <li><a href="/page10/">Page 10</a></li>
    <!-- <li><a href="/page11/">Page 11</a></li>
    <li><a href="/page12/">Page 12</a></li>
    <li><a href="/page13/">Page 13</a></li>
    <li><a href="/page14/">Page 14</a></li>
    <li><a href="/page15/">Page 15</a></li>
    <li><a href="/page16/">Page 16</a></li>
    <li><a href="/page17/">Page 17</a></li>
    <li><a href="/page18/">Page 18</a></li>
    <li><a href="/page19/">Page 19</a></li>
    <li><a href="/page20/">Page 20</a></li>
    <li><a href="/page21/">Page 21</a></li>
    <li><a href="/page22/">Page 22</a></li>
    <li><a href="/page23/">Page 23</a></li>
    <li><a href="/page24/">Page 24</a></li>
    <li><a href="/page25/">Page 25</a></li>
    <li><a href="/page26/">Page 26</a></li>
    <li><a href="/page27/">Page 27</a></li>
    <li><a href="/page28/">Page 28</a></li>
    <li><a href="/page29/">Page 29</a></li>
    <li><a href="/page30/">Page 30</a></li>
    <li><a href="/page31/">Page 31</a></li>
    <li><a href="/page32/">Page 32</a></li>
    <li><a href="/page33/">Page 33</a></li>
    <li><a href="/page34/">Page 34</a></li>
    <li><a href="/page35/">Page 35</a></li>
    <li><a href="/page36/">Page 36</a></li>
    <li><a href="/page37/">Page 37</a></li>
    <li><a href="/page38/">Page 38</a></li>
    <li><a href="/page39/">Page 39</a></li>
    <li><a href="/page40/">Page 40</a></li> -->
  </ul>
</aside>
